.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fafaff;
  padding-top: 100px; 
}
